:root {
    --squaresize: 30px;
    --gridlength: 16;
}

#container {
    display: grid;
    grid-template-columns: repeat(var(--gridlength), var(--squaresize));
    grid-template-rows: repeat(var(--gridlength), var(--squaresize));
    column-gap: 6px;
    row-gap: 6px;
}

.gridsquare {
    border: 1px solid black;
    height: var(--squaresize);
    width: var(--squaresize);

}

#header {
    padding-bottom: 10px;
}